body {background-color:black;
font-family:'Verdana';
font-weight:500;
align:center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px; 
  margin: 50px auto;
  padding: 30px 30px 10px 30px;
  width: fit-content;
  background-color: white;
}

h1{
   text-align:center;
    color: #808080;
	font-family:'Verdana';
font-weight:900;
}

div {
	display: table;  
	align:center; 
	margin: 0 auto;		
	}
p{ 
	display: table-row;  
}


label { 
    display: table-cell; 
}
select{
	display: table-cell;
}

button {
	font-size : 14px;

	}

input {
	display: table-cell;
	}

img {
  border-radius: 10px 10px 0 0;
}

